<div class="header">
  <div class="search-container">
    <!-- Hamburger button for mobile -->
    <button class="hamburger-btn" (click)="toggleSidebar()" type="button">
      <i class="fas fa-bars"></i>
    </button>
    
    <input type="text" placeholder="Search" class="search-input">
    <button class="search-btn">
      <i class="fa fa-search"></i>
    </button>
  </div>

  <div class="header-middle">
    <div class="date-info">
      <span class="label">Date & Time</span>
      <span class="value">{{ currentDate | date: 'dd MMM yyyy - hh:mm:ss a' }}</span>
    </div>
  </div>

  <div class="header-right">
    
    <div class="profile-mini">
      <img src="assets/girl.jpeg" alt="Profile Image"> 
    </div>
  </div>
</div>