<div class="auth-container">
    <div class="auth-card">
      <div class="icon-container">
        <i class="fa fa-user-plus"></i>
      </div>
      <form>
        <input type="text" placeholder="Full Name" required />
        <input type="email" placeholder="Enter Email" required />
        <input type="password" placeholder="Create Password" required />
        <input type="password" placeholder="Confirm Password" required />
        <button type="submit">Signup</button>
      </form>
      <div class="auth-actions" style="justify-content: center;">
        <p>Already have an account? <a routerLink="/auth/login">Login</a></p>
      </div>
    </div>
  </div>
  