<div class="auth-container">
  <div class="auth-card">
    <div class="icon-container">
      <i class="fa fa-user-plus"></i>
    </div>

    <form #signupForm="ngForm" (ngSubmit)="onSubmit(signupForm)">
      <input type="text" name="fullName" ngModel placeholder="Full Name" required />
      <input type="email" name="email" ngModel placeholder="Enter Email" required />
      <input type="password" name="password" ngModel placeholder="Create Password" required />
      <input type="password" name="confirmPassword" ngModel placeholder="Confirm Password" required />
      <button type="submit" [disabled]="signupForm.invalid">Signup</button>
    </form>

    <div class="auth-actions" style="justify-content: center;">
      <p>Already have an account? <a routerLink="/auth/login">Login</a></p>
    </div>
  </div>
</div>
