<div class="auth-container">
    <div class="auth-card">
      <div class="icon-container">
        <i class="fa fa-refresh"></i>
      </div>
      <form>
        <input type="password" placeholder="New Password" required />
        <input type="password" placeholder="Confirm Password" required />
        <button type="submit">Reset Password</button>
      </form>
      <div class="auth-actions" style="justify-content: center;">
        <p>Back to <a routerLink="/auth/login">Login</a></p>
      </div>
    </div>
  </div>
  