.modal-content {
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-header {
  background-color: #0d6efd;
  color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.btn-close {
  background-color: white;
}
