<div class="auth-container">
  <div class="auth-card">
    <div class="icon-container">
      <i class="fa fa-unlock-alt"></i>
    </div>

    <form #forgotForm="ngForm" (ngSubmit)="onSubmit()">
      <input
        type="email"
        [(ngModel)]="email"
        name="email"
        placeholder="Enter your registered Email"
        required
        email
      />
      <button type="submit" [disabled]="forgotForm.invalid">Send OTP</button>
    </form>

    <div class="auth-actions" style="justify-content: center;">
      <p>Remember password? <a routerLink="/auth/login">Login</a></p>
    </div>
  </div>
</div>
